.container{
	margin-bottom: 25px;
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: rgba(23, 32, 42, 0.04) 8px 8px 0px 0px;
}

.container_img{
	display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.container_img img{
	display: block;
	max-width: 350px;
	max-height: 350px;
}

.container_title{
	font-size: 16px;
	font-weight: bold;
	padding: 15px;
	background: #fbfbfb;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
}

.container_about{
	padding: 16px;
	margin-bottom: 60px;
}

.container_about p{
	font-size: 16px;
}



/*about.html*/

table {
    border-collapse: collapse;
    width: 95%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	margin-bottom: 15px;
	font-size: 16px;
}


th, td {
    padding: 8px;
    border: 1px solid #8cc152;
}

.table-left-content{
	text-align: left;
}

.table-left-content div{
	font-weight: normal;
}

th{
	width: 90%;
}

tr:nth-child(even){background-color: #f2f2f2}

.table p{
	text-align: center;
}

.table a{
	text-decoration: none;
}

/*about.html end*/

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 1024px) {
	table{
		min-width: 95%;
	}

	.container_title{
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 1024px){
	@media screen and (-webkit-min-device-pixel-ratio: 0) {
 	_::-webkit-full-page-media, _:future, :root , .download_torrent{
		margin-top: 15px;
	}
}


