.container{
	margin-bottom: 25px;
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: rgba(23, 32, 42, 0.04) 8px 8px 0px 0px;
    display: flex;
}

.container_content{
	width: 100%;
	display: flex;
  	flex-direction: column;
}

.container_title{
	background: #fbfbfb;
	padding: 8px;
	border-bottom: 1px solid #ddd;
}

.container_title a{
	text-decoration: none;
	color: black;
}

.container_img{
	border-right: 1px solid #ddd;
	padding: 10px;
}

.container_info{
	flex: 2;
}

.container_info p{
	font-size: 16px;
	padding: 10px;
}

.container_img img{
	height: 100%;
	width: 150px;
	display: block;
	
}


.container_rating{
	display: block;
	flex: 1;
	background: #fbfbfb;
	border-top: 1px solid #ddd;
	margin: 0;
	padding: 0;
}

.rating-area{
	margin-top: 4px;
	margin-left: 10px;
	float: left;
}

.container_rating a{
	margin-top: 4px;
	float: right;
	padding: 10px;
	text-decoration: none;
	color: #35c535;
}

@media screen and (max-width: 1024px){
	.container{
		margin-bottom: 25px;
	    position: relative;
	    background: #fff;
	    border: 1px solid #ddd;
	    box-shadow: rgba(23, 32, 42, 0.04) 8px 8px 0px 0px;
	    display: block;
	}

	.container_img{
		background: #fbfbfb;
		border-right: none;
		padding: 10px;
		display: flex;
	    justify-content: center;
	    
	}

	.container_title{
		text-align: center;
		background: #fbfbfb;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;
	}

	.container_rating p{
		margin-top: 0px;
		padding: 10px 0px 10px 10px;
		font-size: 20px;
	}

	.download_torrent{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-bottom: 5px;
	}

	.container_rating a{
		font-size: 20px;
		margin-top: 0px;
		padding: 0;
		text-decoration: none;
		text-align: center;
		float: none;
	}
}

@media screen and (max-width: 359px){
	.container_rating p{
		font-size: 17px;
	}

	.container_rating a{
		font-size: 17px;
	}
}