.header{
	width: 100%;
	max-height: 64.4px;
	z-index: 3;
	background-color: #1c2833;
	display: inline;
	top: 0;
	position: fixed;
}

.header-name a{
	min-width: 280.83px;
	float: left;
    padding: 15px 0;
    text-decoration: none;
    text-align: center;
    background-color: #35c535;
    color: white;
    font-size: 30px;
}

.header-name a:hover{
    color: white;
}

.header-right{
	position: relative;
	float: right;
	top: 13px;
	right: 13px;
}

#alogin{
	padding: 10px 10px;/* отступы от текста до краев */
	text-decoration: none;/* убираем декорирование */
	-moz-appearance: button; /* преобразование для Firefox */
	-webkit-appearance: button; /* преобразование для Chromium */
	background: #4CAF50;
	color: white;
}

#areg{
	padding: 10px 10px;/* отступы от текста до краев */
	text-decoration: none;/* убираем декорирование */
	-moz-appearance: button; /* преобразование для Firefox */
	-webkit-appearance: button; /* преобразование для Chromium */
	background: purple;
	color: white;
}

@-moz-document url-prefix() {
 	.header-right{
		top: 23px;
		right: 13px;
	}
}