.header{
	width: 100%;
	max-height: 64.4px;
	z-index: 3;
	background-color: #1c2833;
	display: inline;
	top: 0;
	position: fixed;
}

.header-name a{
	min-width: 280.83px;
	float: left;
    padding: 15px 0;
    text-decoration: none;
    text-align: center;
    background-color: #35c535;
    color: white;
    font-size: 30px;
}

.header-name a:hover{
    color: white;
}

.header-name-mobile{
	display: none;
}

.header-right{
	position: relative;
	float: right;
	top: 13px;
	right: 13px;
}

#alogin{
	padding: 10px 10px;/* отступы от текста до краев */
	text-decoration: none;/* убираем декорирование */
	-moz-appearance: button; /* преобразование для Firefox */
	-webkit-appearance: button; /* преобразование для Chromium */
	background: #4CAF50;
	color: white;
}

#areg{
	padding: 10px 10px;/* отступы от текста до краев */
	text-decoration: none;/* убираем декорирование */
	-moz-appearance: button; /* преобразование для Firefox */
	-webkit-appearance: button; /* преобразование для Chromium */
	background: purple;
	color: white;
}

#openNav{
	display: none;
}

@-moz-document url-prefix() {
 	.header-right{
		top: 23px;
		right: 13px;
	}
}

@media screen and (max-width: 1024px){

	.header{
		width: 100%;
		max-height: 44px;
		z-index: 3;
		background-color: #1c2833;
		display: inline;
		top: 0;
		position: absolute;
	}

	#areg{
		display: none;
	}

	.header-right{
		position: relative;
		top: 0;
		right: 0;
		z-index: 4;
	}

	#alogin{
		height: 44px;
		padding: 13px;
	}

	.header-name a{
		pointer-events: none; /* делаем ссылку некликабельной */
    	cursor: default;
		width: 100%;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
    	height: 44px;
    	text-decoration: none;
    	text-align: center;
    	background-color: #1c2833;
    	color: white;
    	font-size: 14px;
    	z-index: 0;
	}

	#openNav{
		display: block;
		color: white;
		height: 44px;
		width: 44px;
		float: left;
   		background-color: #4CAF50;
   		text-align: center;
   		position: relative;
		text-decoration: none;
		font-size: 30px;
	}
}