#search_header[type=text] {
    width: 330px;
    height: 30px;
    margin-top: 17.7px;
    margin-left: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#search_header[type=text]:focus {
    width: 60%;
}

#search_header_mobile[type=text] {
        display: none;
}

#openSearch{
    display: none;
}

@media screen and (max-width: 1024px){

    #search_header[type=text] {
        display: none;
    }

    #search_header_mobile[type=text]{
        display: block;
        position: relative;
        top: 44px;
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        font-size: 16px;
        background-color: white;
        padding: 12px 20px 12px 20px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    #openSearch{
        display: none;
    }

    .d2 button {
        display: table;
        text-align: center;
        border: none;
        height: 26px;
        width: 26px;
        position: absolute;
        top: 50px;
        right: 8px;
        background: #F15B42;
        cursor: pointer;
    }
    .d2 button:before {
        position: relative;
        left: 7px;
        top: 2px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        content: "×";
        font-family: FontAwesome;
        color: #F9F0DA;
        font-size: 20px;
        font-weight: bold;
    }
}

/** ДЛЯ EDGE/IE**/
@supports (-ms-ime-align:auto) {
    .d2 button:before {
        left: 0px;
        top: 0px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
 _::-webkit-full-page-media, _:future, :root , .d2 button:before {
        top: 0; 
        left: 4px;
    }

}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
 _::-webkit-full-page-media, _:future, :root , #search_header_mobile[type=text]{
        top: 15px;
    }

}