.sidenav {
    height: 100%;
    position: fixed;
    z-index: 2;
    bottom: 0;
    background: #1c2833;
    overflow-x: hidden;
    max-width: 280.83px;
}

.menu-a{
    margin-top: 90px;
    white-space: nowrap;
}

.menu-a a {
    height: 27px;
    padding: 8px 25px 0px;
    text-decoration: none;
    font-size: 16px;
    color: #c2cbd7;
    display: block;
    transition: all 0.1s ease 0s;
}

.menu_title{
    text-align: center;
    background-color: #17202a;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.menu-a a:hover{
    background-color: #35c535;
}

.menu-a i{
    float: left;
    margin-right: 10px;
    width: 24px;
}

.menu-a a:hover {
    color: #064579;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}