.rating-area {
  overflow: hidden;
  float: left;
}

.rating-area:not(:checked) > input {
  display: none;
}

.rating-area:not(:checked) > label {
  float: right;
  width: 35px;
  padding: 0;
  cursor: pointer;
  font-size: 40px;
  line-height: 50px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked) > label:before {
  content: '★';
}

.rating-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: gold;
}

.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}

.rate-area > label:active {
  position: relative;
}


@media screen and (max-width: 1024px){
  .rating-area{
    float: left;
    margin-top: 5px;
    height: 44.8px;
    text-decoration: none;
  }

  .rating-area:not(:checked) > label {
    margin-right: 2px;
    width: 37px;
  }
}

@media screen and (max-width: 767px){
.rating-area{
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    height: 44.8px;
    text-decoration: none;
    width: 200px;
  }
}