*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
    font-family: "Lato", sans-serif;
    background: #fbfbfb;
    height: 100%;
}

main {
	height: 100%;
    margin-left: 310px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 20px;
    margin-top: 64.4px;
    flex: 1 0 auto;
}

footer{
	flex: 0 0 auto;
}

.wrapper{
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@media screen and (max-width: 1024px){

	main{
		overflow-y: auto;
		-webkit-overflow-scrolling:touch;
		margin-left: 0;
		width: 100%;
	}
	.wrapper{
		min-width: 100%;
	}
}